/* .egg{
    height: 200px;
    width: 200px;
    border: 1px solid yellow;
    border-radius: ;
   
    

}
.white{
    height: 200px;
    width: 200px;
    background-color: rgb(228, 223, 232);
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
 


}
.yellow{
    height: 70px;
    width: 70px;
    background-color: yellow;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position:absolute;
    border-radius: 50%;


} */

